/* Traversy Media css custom properties - https://youtu.be/sQUB039MG0I */
:root {
    --light-green: #FBFAD3;
    --medium-green: #729D39;
    --dark-green: #36622B;
    --warning-red: #CE1212;
    --black: #000;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--light-green);
}

/* navigation */

.my-navbar {
    background-color: var(--dark-green);
    font-size: 1rem;
    border-bottom: 1px solid var(--light-green);
}

.my-logo {
    font-size: 2rem;
    color: var(--light-green);
    font-weight: bold;
    letter-spacing: 0.2rem;
    margin-left: 2.5%;
}

.my-navbar a {
    color: var(--light-green);
}

.nav-item {
    margin: 0 20px;
    text-align: center;
}

.nav-link {
    color: var(--light-green);
    letter-spacing: 0.1rem;
}

.nav-link:hover {
    font-weight: bold;
}

.my-burger {
    color: var(--light-green);
    border: 1px solid var(--light-green);
    padding: 5px 7px;
    border-radius: 5px;
    font-size: 1.5rem;
    margin-right: 2.5%;
}

/* landing page section */

#landing-page {
    height: 100vh;
    background: url("../images/jq-background-image.jpg") no-repeat top;
    background-size: cover;
    position: relative;
}

.landing-page-overlay {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.landing-page-overlay-textbox {
    text-align: center;
    background-color: var(--dark-green);
    color: var(--light-green);
    padding: 2.5%;
    margin-left: 5%;
    margin-bottom: 5%;
    border-radius: 5px;
    letter-spacing: 0.1rem;
}

.landing-page-overlay-textbox button {
    padding: 5%;
    margin-top: 10%;
    font-weight: bold;
    border-radius: 5px;
    letter-spacing: 0.1rem;
}

/* about section - eat | drink | explore */

#about {
    padding: 0 2.5%;
}

.section-heading {
    text-align: center;
    padding: 90px 2.5% 2.5%;
    margin: 0;
    color: var(--dark-green);
    letter-spacing: 0.2rem;
}

.about-container {
    width: 100%;
}

/* carousel */
/* code for the carousel was found on https://www.youtube.com/watch?v=rTB-UNl_B_Y and edited accordingly */

.about-carousel {
    height: 450px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.slider {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 400%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.carousel-controls .arrow {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
}

.arrow.left {
    left: 5px;
    font-size: 1.5rem;
    color: var(--light-green);
}

.arrow.right {
    right: 5px;
    font-size: 1.5rem;
    color: var(--light-green);
}

.carousel-controls ul {
    position: absolute;
    bottom: 0px;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
}

.carousel-controls ul li {
    width: 10px;
    height: 10px;
    border: 2px solid var(--light-green);
    border-radius: 50%;
    margin: 10px;
    background-color: var(--light-green);
    cursor: pointer;
}

.carousel-controls ul li.selected {
    background-color: transparent;
}

/* carousel content */

.slider div {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    margin: 0 auto;
    background-color: var(--dark-green);
}

.slider-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    color: var(--light-green);
    padding: 20px 50px;
}

.slider-content h3 {
    letter-spacing: 0.1rem;
    margin-bottom: 20px;
}

.slider-content p {
    letter-spacing: 0.1rem;
    font-weight: lighter;
}

.slider-content-pic {
    padding: 0;
}

.slider-content-pic img {
    height: 450px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

/* to do section - google map api */

#explore {
    padding: 0 2.5%; 
}

.explore-container {
    width: 100%;
    background-color: var(--dark-green);
    border-radius: 5px;
}

.explore-container div.row {
    margin: 0;
    padding: 0;
}

#button-row, 
.recommend-content-container {
    padding: 0;
    margin: 0;
}

#button-row {
    min-height: 45px;
}

.explore-container button {
    padding: 0.75%;
    margin: 0.75%;
    width: 100%;
    font-weight: bold;
    border-radius: 5px;
}

.map-container {
    padding: 0 6px 6px 6px;
}

#map {
    height: 450px;
    padding: 0;
}

.recommend-content-container {
    padding: 20px;
}

#recommend-content {
    letter-spacing: 0.1rem;
    font-weight: lighter;
    color: var(--light-green);
    text-align: center;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#recommend-content h3, 
#recommend-content p {
    margin: 0;
}

#recommend-content p {
    line-height: 1.8rem;
}

#recommend-content a {
    text-decoration: none;
    font-weight: bold;
    color: var(--light-green);    
}

#recommend-content a:hover {
    text-decoration: underline;
}

.divider {
    margin: 1.2rem;
    width: 50%;
    height: 2px;
    text-align: center;
}

.info-window {
    text-align: center;
    letter-spacing: 0.05rem;
    color: var(--dark-green);
    padding: 2.5%;
    background-color: var(--light-green);
    border-radius: 5px;
    border: 1px solid var(--dark-green);
}

.info-window h5, 
.info-window a {
    font-weight: bold;
}

.info-window a {
    text-decoration: none;
    color: var(--dark-green);    
}

.info-window a:hover {
    text-decoration: underline;   
}

/* contact */

.contact-container {
    width: 100%;
    background-color: var(--dark-green);
}

#contact-form {
    width: 70%;
    margin: 0 auto;
    padding: 20px 0;
}

label {
    display: block;
    color: var(--light-green);
    letter-spacing: 0.1rem;
    margin-bottom: 1%;
}

.form-box {
    width: 100%;
    margin-bottom: 3%;
    padding: 1%;
    border-radius: 5px;
    font-size: 0.75rem;
    letter-spacing: 0.05rem;
    color: var(--dark-green);
    background-color: var(--light-green);
}

#contact-form textarea {
    resize: none;
    min-height: 150px;
}

.send-button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.send-button {
    font-weight: bold;
    border-radius: 5px;
    letter-spacing: 0.1rem;
    padding: 0.75% 3%;
}

#success, 
#failed, 
#validate {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3%;
    border-radius: 5px;
    display: none;
}

#success {
    background-color: var(--medium-green);
    border: 1px solid var(--light-green);    
}

#failed, 
#validate {
    background-color: var(--warning-red);
    border: 1px solid var(--black);
}

#success p, 
#failed p, 
#validate p {
    margin: 0;
    padding: 1%;
    letter-spacing: 0.1rem;
    color: var(--light-green);
}

/* footer */

#footer {
    color: var(--light-green);
    background-color: var(--dark-green);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1% 2.5%;
    border-top: 1px solid var(--light-green);
}

#footer p {
    margin: 0;
}

#footer a {
    color: var(--light-green);
    font-size: 1.5rem;
    padding: 5px;
    margin-left: 10px;
}

/* buttons */

.button-bg {
    background-color: var(--light-green);
    color: var(--dark-green);
    border: 1px solid var(--dark-green);
}

.button-bg:hover {
    background-color: var(--dark-green);
    color: var(--light-green);
    border: 1px solid var(--light-green);
}

/* media queries */

/* max-width lg */
@media only screen and (max-width: 991px) {  
    /* carousel content */
    .slider div {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
    .about-carousel {
        height: auto;
    }

    /* contact */
    #contact-form {
        width: 80%;
    }
}

/* max-width md */
@media only screen and (max-width: 767px) {
    /* carousel content */
    .section-heading {
        letter-spacing: 0.1rem;
    }
    .slider-content {
        padding: 20px 40px;
    }
}

/* max-width sm */
@media only screen and (max-width: 575px) {
    /* to do section - google map api */
    .map-container {
        padding: 0;
    }   
    /* contact */
    #contact-form {
        width: 90%;
    }
}

/* below 320px */
@media only screen and (max-width: 319px) {
    /* footer */
    #footer p {
        display: none;
    }
    .social-icons {
        margin: 0 auto;
    }
}