* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #FBFAD3;
}

/* navigation */

.my-navbar {
    background-color: #729D39;
    font-size: 1rem;
}

.my-navbar a {
    color: #FBFAD3;
    letter-spacing: 0.2rem;
}

.my-logo {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 2.5%;
}

/* .my-nav {
    margin-right: 2.5%;
} */

.nav-item {
    margin: 0 20px;
    text-align: center;
}

.nav-item:hover {
    text-decoration: underline;
    font-size: 1.05rem;
}

.my-burger {
    color: #FBFAD3;
    border: 1px solid #FBFAD3;
    padding: 5px 7px;
    border-radius: 5px;
    font-size: 1.5rem;
    margin-right: 2.5%;
}

/* landing page section */

#landing-page {
    height: 100vh;
    background: url("../images/jq-background-image.jpg") no-repeat top;
    background-size: cover;
    position: relative;
}

.landing-page-overlay {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.landing-page-overlay-textbox {
    text-align: center;
    background-color: #729D39;
    color: #FBFAD3;
    padding: 2.5%;
    margin-left: 5%;
    margin-bottom: 5%;
    border-radius: 5px;
    letter-spacing: 0.1rem;
}

.landing-page-overlay-textbox button {
    background-color: #FBFAD3;
    padding: 5%;
    margin-top: 10%;
    color: #36622B;
    font-weight: bold;
    border: 1px solid #36622B;
    border-radius: 5px;
    letter-spacing: 0.1rem;
}

/* about section - eat | drink | explore */

#about {
    padding: 0 2.5%;
}

.section-heading {
    text-align: center;
    padding: 90px 2.5% 2.5%;
    margin: 0;
    color: #36622B;
    letter-spacing: 0.2rem;
}

.about-container {
    width: 100%;
}

/* carousel */
/* code for the carousel was found on https://www.youtube.com/watch?v=rTB-UNl_B_Y and edited accordingly */

.about-carousel {
    height: 450px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.slider {
    height: 100%;
    display: flex;
    width: 400%;
    transition: all 0.3s;
}

.carousel-controls .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.arrow.left {
    left: 5px;
    font-size: 1.5rem;
    color: #FBFAD3;
}

.arrow.right {
    right: 5px;
    font-size: 1.5rem;
    color: #FBFAD3;
}

.carousel-controls ul {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.carousel-controls ul li {
    width: 10px;
    height: 10px;
    border: 2px solid #FBFAD3;
    border-radius: 50%;
    margin: 10px;
    background-color: #FBFAD3;;
    cursor: pointer;
}

.carousel-controls ul li.selected {
    background-color: transparent;
}

/* carousel content */

.slider div {
    flex-basis: 50%;
    margin: 0 auto;
    background-color: #729D39;
}

.slider-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #FBFAD3;
    padding: 20px 50px;
}

.slider-content h3 {
    letter-spacing: 0.1rem;
    margin-bottom: 20px;
}

.slider-content p {
    letter-spacing: 0.1rem;
    font-weight: lighter;
}

.slider-content-pic1 {
    background-image: url("../images/jq-about-pic.jpg");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    padding: 0;
}

.slider-content-pic2 {
    background-image: url("../images/jq-eat-pic.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
}

.slider-content-pic3 {
    background-image: url("../images/jq-drink-pic.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
}

.slider-content-pic4 {
    background-image: url("../images/jq-history-pic.jpg");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;

}

/* to do section - google map api */

#explore {
    padding: 0 2.5%; 
}

.explore-container {
    width: 100%;
    background-color: #729D39;
}

.explore-container div.row {
    margin: 0;
    padding: 0;
}

.button-row, 
.recommend-title, 
.recommend-content {
    padding: 0;
    margin: 0;
}

.explore-container button {
    background-color: #FBFAD3;
    padding: 0.75%;
    margin: 0.75%;
    width: 100%;
    color: #36622B;
    font-weight: bold;
    border: 1px solid #36622B;
    border-radius: 5px;
}

#map {
    height: 400px;
    padding: 0;
}

.recommend-title div, 
.recommend-content div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recommend-title h4 {
    margin: 0;
    padding: 0;
}

/* footer */

#footer {
    color: #FBFAD3;
    background-color: #729D39;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2.5%;
    border-top: 1px solid #FBFAD3;
}

#footer p {
    margin: 0;
}

#footer a {
    color: #FBFAD3;
    font-size: 1.5rem;
    padding: 5px;
    margin-left: 10px;
}


/* media queries */
/* max-width tablet */
@media only screen and (max-width: 991px) {  
    .slider div {
        flex-basis: 100%;
    }

    .about-carousel-row {
        overflow-y: scroll;
    }
}

/* max-width md */
@media only screen and (max-width: 767px) {
    .section-heading {
        letter-spacing: 0.1rem;
    }

    .slider-content {
        padding: 20px 40px;
    }
}

/* contact */

.contact-container {

}

.contact-form {

}

.form-box {

}

.send-button {
    
}